.App{
      text-align: center;
      background: aliceblue;
      max-width: 500px;
      margin: auto;
      padding: 20px 10px;
      box-shadow: 0px 0px 5px #c4bfbf;
      border-radius: 5px;
      margin-top: 10px;
}

.container{
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  height: 100px;
}
.textarea{
  padding: 10px;
  font-size: 16px;
  width: 100%;
  font-family: sans-serif; 
  
  border-radius: 7px;
}
.btn{
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid forestgreen;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0px 0px 5px grey;
  color: black;
}
.btn_container{
  margin: auto;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

}
.editModeContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}
.threedot{
  cursor: pointer;
  font-size: 22px;
  font-weight: 800;
  position: relative;

}
.insideDot{
  position: absolute;
  background: white;
  left: -40px;
  padding: 5px 10px 5px 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding: 10px 25px 10px 10px;
  z-index: 1;
  box-shadow: 0px 0px 3px #cac3c3;
  border-radius: 4px;
  width: 70px;

}
.deleteBtn:hover{
  color: #b60a0a;
  font-weight: 600;
}
.editBtn{
margin-bottom: 5px;
}
.editBtn:hover{
  font-weight: 600;
  color: #00acb8;
}
.personIcon {

  color: #00acb8;
  background: #dce9f7;
  border-radius: 50%;
  height: 25px;
  width: 27px;
  font-size: 20px;
  margin-right:8px;
}

.iconBox{
  display: flex;
  align-items: center;
}
